/* ----- Début de la section de déclaration des classes  ----- */
.nav-principal {
	display: inline-grid;
	background-color: #5b84d7;
	width: 160px;
	height: 100%;
	position: fixed;
	padding: 50px 0 0 0;
}

.nav-principal div div {
	text-align: right;
	padding: 12px 3px 12px 0px;
}

.nav-principal div div:hover {
	background-color: #98b2e6;
}

.nav-principal a {
	text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 3px black;
    font-size: medium;
}

.nav-principal a:hover {
	color: black;
	text-shadow: 0 0 3px white;
}

.div-principal {
	padding: 50px 15px 15px 15px;
	margin: 0 0 0 170px;
}

.table-idee tr td {
	padding: 5px;
}

.div-banner {
	height: 50px;
	width: 100%;
	background-color: black;
	position: fixed;
	z-index: 1;
}

.titre-acceuil {
	font-size: 22px;
	font-style: italic;
}

.countDown {
	font-size: 25px;
	font-style: italic;
	font-weight: bold;
	margin: 75px;
}

/* ----- Début de la section de déclaration des tags  ----- */
body {
	font-family: Verdana;
	background-color: beige;
	background-repeat: repeat;
	margin: auto;
}